<header class="aw-list-header">
    <div class="fl">{{ title }}</div>
    <a class="btn fr" ui-sref="{{ search.entity_type }}-edit({ id: '' })" ng-show="isNew">新建</a>
    <div class="cf"></div>
</header>
<div class="tool-bar-wrapper">
    <tool-bar search="search" refresh="refresh()" is-class="isClass" is-author="isAuthor"></tool-bar>
</div>
<div class="aw-list">
    <div class="aw fl" ng-class="{ 'last': $index%4 == 3 }" ng-repeat="item in list track by $index">
        <div class="img-wrapper">
            <div class="img" style="background-image: url({{ item.thumbnail | url: item.thumbnail }}@!card)">
                <div class="cover">
                    <a ui-sref="{{ search.entity_type }}-edit({ id: list[$index].id })" class="icon material-icons fl clickable"
                    ng-if="search.entity_type != 'uwork'">mode_edit</a>
                    <span class="icon material-icons fl clickable" ng-if="search.entity_type == 'uwork'" ng-click="download($index)">file_download</span>
                    <span class="icon material-icons fl clickable" ng-click="delete($index)">delete</span>
                    <div class="cf"></div>
                </div>
            </div>
        </div>
        <div class="info first">
            <div class="title item am-text-truncate fl">{{ item.title }}</div>         
            <div class="time item fr">{{ item.time | workTime }}</div>
            <div class="cf"></div>
        </div>
        <div class="info">
            <div class="item">{{ item.class_name }}</div>
        </div>          
    </div>
    <div class="cf"></div>
    <pagination cur="search.page_num" max="max" refresh="refresh()"></pagination>
</div>