<div class="class-wrapper">
	<div class="page-header margin-16"><div class="title">分类</div></div>
	<div class="input-wrapper">
		<input type="text" class="input fl" ng-model="classNameInput">
		<div class="btn fl clickable" ng-click="submit()">新建分类</div>
		<div class="tab fl">
			<span ng-repeat="c in ['vwork', 'article', 'uwork_tag0', 'uwork_tag1', 'uwork_tag2']">
				<span class="clickable" ng-class="{'current': current == c}" ng-click="select(c)" >{{c | className}}</span>
				<span ng-show="!$last">/</span>
			</span>
		</div>
		<div class="cf"></div>
	</div>
	<div class="cf"></div>
	<div class="class-list fl">
	    <header>{{current | className}}</header>
	    <div class="body">
		    <div class="class" ng-class="{'last': $last}" ng-repeat="c in className">
		        <span class="text fl am-text-truncate">{{c}}</span>
		        <span class="icon material-icons fr clickable" ng-click="delete(current, c)">close</span>
		        <span class="cf"></span>
		    </div> 	    	
	    </div>
	</div>
	<div class="cf"></div>
</div>