<div class="page-header margin-16">
	<div class="title fl">消息</div>
	<div class="btn clickable fr" ng-click="open()">发布公告</div>
</div>
<div class="message-wrapper">
	<div class="cf"></div>
	<div class="wrapper">
		<div class="inner-wrapper" ng-controller="noticeCtrl">
			<div class="title">公告</div>
			<div class="message" ng-repeat="item in list">
				<div class="middle">
					<div class="text user">管理员</div>
					<div class="text content">{{item.content}}</div>							
				</div>
				<div class="end">
					<div class="time">{{item.time | msgTime}}</div>
					<span class="icon material-icons clickable" ng-click="delete($index)">close</span>
				</div>	
			</div>
			<pagination cur="curPage" max="maxPage" refresh="refresh()" ></pagination>		
		</div>
		<div class="inner-wrapper" ng-controller="messageReceiveCtrl">
			<div class="title">接收</div>
			<div class="message" ng-repeat="item in list">
				<div class="img" style="background-image: url({{item.user_from.headimg}}@!headimg-sm)"></div>
				<div class="middle">
					<div class="text user">{{item.user_from.nickname}}</div>
					<div class="text content">{{item.content}}</div>							
				</div>
				<div class="end">
					<div class="time">{{item.time | msgTime}}</div>
					<span class="icon material-icons clickable" ng-click="delete($index)">close</span>
				</div>			
			</div>
			<pagination cur="curPage" max="maxPage" refresh="refresh()" ></pagination>	
		</div>
		<div class="inner-wrapper" ng-controller="messageSendCtrl">
			<div class="title">发送</div>
			<div class="message" ng-repeat="item in list">
				<div class="img" style="background-image: url({{item.user_to.headimg}}@!headimg-sm)"></div>
				<div class="middle">
					<div class="text user">{{item.user_to.nickname}}</div>			
					<div class="text content">{{item.content}}</div>							
				</div>
				<div class="end">
					<div class="time">{{item.time | msgTime}}</div>
					<span class="icon material-icons clickable" ng-click="delete($index)">close</span>
				</div>			
			</div>
			<pagination cur="curPage" max="maxPage" refresh="refresh()" ></pagination>	
		</div>	
	</div>
</div>
<message-layer is-open="isLayerOpen" is-disabled="isDisabled" uid-to="uidTo" refresh="refresh()"></message-layer>