.aw-list-header {
  height: 32px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #dddddd;
  font-size: 20px;
}
.aw-list-header > .title {
  line-height: 32px;
}
.aw-list-header > .select {
  line-height: 12px;
  margin-left: 8px;
  margin-top: 14px;
  font-size: 12px;
}
.aw-list-header > .select > a {
  color: rgba(0, 0, 0, 0.54);
  outline: none;
}
.aw-list-header > .select > a.selected {
  color: #1baf79;
}
.aw-list-header > .btn {
  height: 32px;
  line-height: 32px;
  padding: 0 16px;
  background-color: #1baf79;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
}
.aw-list > .aw {
  width: 240px;
  margin-right: 64px;
  margin-bottom: 32px;
}
.aw-list > .aw > .img-wrapper {
  box-sizing: border-box;
  width: 240px;
  height: 135px;
  padding: 4px;
  background-color: #f8f8f8;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
}
.aw-list > .aw > .img-wrapper > .img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
}
.aw-list > .aw > .img-wrapper > .img > .cover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.48);
  opacity: 0;
  transition: opacity 0.5s;
}
.aw-list > .aw > .img-wrapper > .img > .cover > .btn {
  width: 50%;
  height: 100%;
  line-height: 127px;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  transition: background-color 0.5s;
}
.aw-list > .aw > .img-wrapper > .img > .cover > .btn.full {
  width: 100%;
}
.aw-list > .aw > .img-wrapper > .img > .cover > .btn:hover {
  background-color: rgba(0, 0, 0, 0.64);
}
.aw-list > .aw > .img-wrapper > .img > .cover:hover {
  opacity: 1;
}
.aw-list > .aw.last {
  margin-right: 0;
}
.aw-list > .aw > .info {
  height: 16px;
  line-height: 16px;
  margin-top: 8px;
  padding: 0 4px;
}
.aw-list > .aw > .info > .item {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
}
.aw-list > .aw > .info > .item.title {
  width: 168px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
}
.aw-list > .aw > .info.first {
  margin-top: 16px;
}
