.comment-wrapper > .wrapper {
  width: 742px;
}
.comment-wrapper > .wrapper > .comment {
  margin-bottom: 32px;
  display: flex;
  display: -webkit-flex;
  align-items: stretch;
}
.comment-wrapper > .wrapper > .comment > .img {
  width: 48px;
  height: 48px;
  margin-right: 16px;
  border-radius: 50%;
  background-size: cover;
  background-position: 50% 50%;
  flex-shrink: 0;
}
.comment-wrapper > .wrapper > .comment > .right {
  border: 1px solid #dddddd;
  flex-grow: 1;
}
.comment-wrapper > .wrapper > .comment > .right > header {
  line-height: 32px;
  padding: 0 16px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #dddddd;
  font-size: 14px;
}
.comment-wrapper > .wrapper > .comment > .right > header > .time {
  margin-right: 8px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
}
.comment-wrapper > .wrapper > .comment > .right > header > .icon {
  height: 32px;
  line-height: 32px;
  margin-left: 8px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.54);
}
.comment-wrapper > .wrapper > .comment > .right > header > .icon.delete:hover {
  color: #eb7260;
}
.comment-wrapper > .wrapper > .comment > .right > header > .icon.link:hover {
  color: #29aba4;
}
.comment-wrapper > .wrapper > .comment > .right > .text {
  padding: 16px;
  background-color: #ffffff;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
}
