<div class="banner-scope">
    <div class="list">
        <div class="multiple">
            <div class="banner-header">首页Banner</div>
            <div class="banner fl" ng-repeat="b in banner1 track by $index" ng-class="{'last': $index%3==2}">
                <a href="{{b.url}}">
                    <div class="img"><div class="picture" style="background-image: url({{b.img}})" /></div>
                    <div class="title am-text-truncate">{{b.title}}</div>
                </a>
            </div>
            <div class="cf"></div> 
        </div>
        <div class="multiple">
            <div class="banner-header">官方作品页Banner</div>
            <div class="banner fl" ng-repeat="b in banner2 track by $index" ng-class="{'last': $index%3==2}">
                <a href="{{b.url}}">
                    <div class="img"><div class="picture" style="background-image: url({{b.img}})" /></div>
                    <div class="title am-text-truncate">{{b.title}}</div>
                </a>
            </div> 
            <div class="cf"></div>       
        </div>        
    </div>
    <form class="form">
        <div class="banner-header">
            添加Banner
            <div class="btn fr clickable" ng-click="submit()">提交</div>
        </div>
        <div class="item">
            <div class="title fl">
                标题<span ng-show="warn[0]" class="tip">*</span>
            </div>
            <div class="side">
                <input class="input" ng-model="input.title" type="text" />
            </div>
            <div class="cf"></div>
        </div>
        <div class="item">
            <div class="title fl">
                URL<span ng-show="warn[1]" class="tip">*</span>
            </div>
            <div class="side">
                <input class="input" ng-model="input.url" type="text" />
            </div>
            <div class="cf"></div>
        </div>
        <div class="item">
            <div class="title fl">类别</div>
            <div class="side">
                <div class="banner-class-wrapper">
                    <div class="banner-class fl clickable" ng-class="{'selected': args.whichpage=='index'}" ng-click="select('index')">首页</div>
                    <div class="banner-class fl clickable" ng-class="{'selected': args.whichpage=='voice_channel_list'}" ng-click="select('voice_channel_list')">官方作品页</div>
                    <div class="cf"></div>
                </div>                
            </div>
            <div class="cf"></div>
        </div>
        <div class="item">
            <div class="title fl">
                图片<span ng-show="warn[2]" class="tip">*</span>
            </div>
            <div class="side">
                <img-input-oss file="input.img" lock="lock"></img-input-oss> 
            </div>
            <div class="cf"></div>
        </div>
    </form>
</div>